# Discord Bot Authentication
DISCORD_BOT_TOKEN=your_discord_bot_token_here
AUTHORIZED_USER_ID=your_user_id_here

# Local Path to LzyDownloader executable
LZY_EXECUTABLE_PATH=<path-to-LzyDownloader.exe>
